---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp
ColumnLimit: 80
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: WebKit
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
SortIncludes: false
BreakStringLiterals: false
ReflowComments: false
AlignTrailingComments: true
FixNamespaceComments: true
ContinuationIndentWidth: 4
NamespaceIndentation: All
AccessModifierOffset: -4
BreakBeforeBinaryOperators: NonAssignment
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
AlignAfterOpenBracket: AlwaysBreak
...
